:root {
    --off-blue: #e7eff2;
    --orange: #ef6718;
    --lg-grey: #7b8bad;
    --dr-blue: #192843;
    --white: #FFFFFF;
    --pink: #F72585;
  }


html, body, div, span,h1, p ,a, q, s, var,blockquote, b, i, center,ol,ul,table,article, figure, footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

body, html {
    overflow-x: hidden;
}

header {
    margin: 0 auto;
    display: flex;
    align-its: center;
    justify-content: space-between;
    /*padding: 0rem;*/
}

.-order {
    width: 10rem;
    height: 3rem;
    font-size: 1em;
    border-radius: 0.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--off-blue);
    font-weight: 700;
    color: var(--dr-blue);
    line-height: 1.625rem;
    transition: 300ms ease-in-out;
}

.pre-order:hover {
    background-color: var(--dr-blue);
    color: var(--off-blue);
}
.container {
    margin: 0 auto;
    padding: 1.2rem;
}

.main__title {
    font-size: 12vw;
    font-weight: 900;
    text-trans: uppercase;
    color: var(--dr-blue);
}

.main__info {
    color: var(--lg-grey);
    margin-top: 2rem;
    line-height: 1.5rem;
}

.date__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.pre-order__org {
    width: 10rem;
    height: 3.2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--pink);
    font-weight: 700;
    color: var(--white);
    line-height: 1.625rem;
    transition: 300ms ease-in-out;
    
}

.pre-order__org:hover {
    background-color: var(--off-blue);
    color: var(--white);
}

.container__info {
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: 34% auto;
    gap: 4.5rem 1.5rem;
}


.__title {
    grid-column: span 2;
    margin: 0 3.75rem;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;
    text-transform: uppercase;
}

.sub__info {
    grid-column: span 2;
    font-size: 1rem;
    margin: 0 1.5rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-align: center;
    color: var(--lg-grey);
}

.container__stats {
    padding: 2rem 1.2rem 0rem 2.2rem;
}

.article__icon {
    width: 4rem;
    height: 4rem;
    background: var(--orange);
    border-radius: 1rem;
    margin: 0 auto 3rem;
    display: grid;
    place-items: center;
}

.article__title {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-boom: 1.5rem;
    padding: 0 4rem;
    line-height: 1.75rem;
}

.article__info {
    font-weight: 400;
    color: var(--lg-grey);
    text-align: center;
    line-height: 1.7rem;
    margin-bottom: 4rem;
}

footer {
    padding: 0.6rem 1.2rem 2rem 1.2rem;
    text-align: center;
    color: var(--lg-grey);
}

.footer__info {
    font-weight: 600;
}

span {
    font-weight: 400;
}
