@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
}

.loginLeftDiv {
  float: left;
  display: flex;
  width: 60vw;
  height: 100vh;
}

.signUpRightDiv {
  margin-top: 15vh;
  float: right;
  display: flex;
  width: 60vw;
}

.loginRightDiv {
  width: 40vw;
  float: right;
  display: flex;
}

.signUpLeftDiv {
  width: 40vw;
  float: left;
  display: flex;
  height: 100vh;
}

.centerDiv {
  margin: auto;
  width: 80%;
}

.heading {
  font-size: 37px;
  font-weight: bold;
  color: #1976d2;
}

.setFont {
  font-family: 'Quicksand';
}

.subHeading {
  font-size: 27px;
  font-weight: bold;
  color: #0277bd;
}

#longInput {
  width: 70%;
  height: 30px;
  border-radius: 7.5px;
  margin: 10px 0px 10px 0px;
}

.loginButton {
  background-color: #4fc3f7;
  color: white;
  font-weight: bolder;
  border: 1px solid #4fc3f7;
}

#loginRightDivSubCol {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

