@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.loginLeftDiv {
  float: left;
  display: flex;
  width: 40vw;
  height: 100vh;
}

.signUpRightDiv {
  margin-top: 15vh;
  float: right;
  display: flex;
  width: 60vw;
}

.loginRightDiv {
  width: 40vw;
  float: right;
  display: flex;
}

.signUpLeftDiv {
  width: 40vw;
  float: left;
  display: flex;
  height: 100vh;
}

.centerDiv {
  margin: auto;
  width: 80%;
}

.heading {
  font-size: 37px;
  font-weight: bold;
  color: #1976d2;
}

.setFont {
  font-family: 'Quicksand';
}

.subHeading {
  font-size: 27px;
  font-weight: bold;
  color: #0277bd;
  padding-bottom: 8px;
}

#longInput {
  width: 70%;
  height: 30px;
  border-radius: 7.5px;
  margin: 10px 0px 10px 0px;
}

.loginButton {
  background-color: #4fc3f7;
  color: white;
  font-weight: bolder;
  border: 1px solid #4fc3f7;
}

#loginRightDivSubCol {
  margin-left: 25px;
}

/* ------------Start of Temporary Sign In Page------------- */

.signInFormDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signInForm {
  width: 400px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92,99,105,0.2);
}

.formDiv {
  position: relative;
  height: 20px;
  margin-bottom: 40px;
}

.formInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  font-size: 16px;
  border: 1px solid #DADCE0;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  background: none;
  z-index: 1;
}

.formLabel {
  position: absolute;
  left: 1rem;
  top: 11px;
  background-color: white;
  color: #80868B;
  font-size: 16px;
  transition: 0.3s;
}

.formButton {
  display: block;
  width: 378px;
  padding: 12px 32px;
  outline: none;
  border: none;
  background-color: #1A73E8;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3px;
}

.formButton:hover {
  box-shadow: 0 10px 36px rgba(0,0,0,0.15);
}

.formInput:focus + .formLabel {
  top: -7px;
  color: #1A73E8;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.formInput:not(:placeholder-shown).formInput:not(:focus)+.formLabel {
  top: -7px;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.formInput:focus {
  border: 1px solid #1A73E8;
}

/*-------------Start Of Navbar Layout------------- */

#homeLayoutAppBar{
  background-color: #e72585ff;
}

#homeLayoutAppBarText{
  font-family: 'Quicksand';
}

/* -------------Start Of Profile Page------------- */

#subScreenCard {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 25px;
}

#shareProfileText {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}

.profileEditCategory {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}

.profileEditResponse {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.profileRowCard {
  width: 80vw;
}

#profileAvatar {
  width: 100px;
  height: 100px;
}

.profileListSecondary {
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#profileListPrimary {
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* -------------Start Of College Predictor Page------------- */

#examAvatar {
  width: 60px;
  height: 60px;
}

#cpScoreCard {
  display: flex;
  font-family: 'Quicksand';
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 7.5px;
  height: 100px;
  width: 80vw;
}

.cpScoreCol:nth-child(1) {
  width: 20%;
  text-align: center;
  margin: 20px;
}

.cpScoreCol:nth-child(2) {
  width: 100%;
  margin: 20px;
}

.markSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7.5px;
  margin-top: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.markSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%; 
  background: #2EC866;
  cursor: pointer;
}

.markSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #2EC866;
  cursor: pointer;
}

/* -------------Start Of College Card Page------------- */

#collegeRow {
  display: flex;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 7.5px;
  height: 120px;
  width: 80vw;
}

#collegeAvatarRow {
  width: 20%;
  text-align: center;
  margin: 20px;
}

#collegeInfoRow {
  margin: 20px;
  width: 30%;
}

#collegeAvatar {
  height: 80px;
  width: 80px;
}

.listIcon {
  padding: 0;
  margin: 0;
  transform: scale(1.05);
}

#collegeInfoRow dl, #collegeAcceptanceRow dl {
  display: grid;
  grid-template-columns: max-content auto;
}

#collegeInfoRow dl dt, #collegeAcceptanceRow dl dt {
  grid-column-start: 1;
}

#collegeInfoRow dl dd, #collegeAcceptanceRow dl dd {
  grid-column-start: 2;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Quicksand';
}

#collegeAcceptanceRow {
  margin: 20px;
  width: 30%;
}

#collegeRoutingRow {
  margin: 50px;
}

/* ---------- University Tip Screen ----------*/

.universityTipCard{
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  border-radius: 7.5px;
  width: 75vw;
  padding: 10px;
  margin-left: 8vw;
  margin-bottom: 1.25vh;
  margin-top: 1.25vh;

}


.tipAuthorRow{
  display: flex;
  padding: 10px 10px 0px 10px;
}

.tipAuthorAddressing{
  font-family: Quicksand;
  font-size: x-large;
  padding-top: 3px;
  padding-left: 8px;
  text-align: start;
}

.tipAuthorText{
  font-family: Quicksand;
  font-weight: bold;
  font-size: x-large;
  padding-top: 3px;
  padding-left: 8px;
  text-align: start;
  width: 15vw;
}

.tipAuthorUniversity{
  font-family: Quicksand;
  padding-left: 60px;
  color: grey;
}

.universityTip{
  font-family: Quicksand;
  padding-left: 15px;
  padding-bottom: 10px;
}

.voteReaction{
  text-align: right;
}

.tipScreenLeftColumn{
  display: inline;
  width: 45vw;
}

.tipScreenColumn{
  display: flex;
  width: 80vw;
  margin-left: 2.5vw;
}

.tipScreenRightColumn{
  display: inline;
  margin-left: 5px;
  margin-right: 20px;
}

.tipInput{
  margin-top: 15px;
}

.commentInputDiv{
  margin-top: 5px;
  margin-left: 10px;
}

#tipSendButton{
  float: right;
}

#addTipFab{
  bottom: 5vh;
  right: 0.1vw;
  position: relative;
}

/* --------------------Custom Select Dropdown Component------------------ */

.dropdown {
  width: 378px;
  position: relative;
}

.dropdown select {
  width: 100%;
  padding: 8px;
  height: 38px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #DADCE0;
  appearance: none;
  -webkit-appearance: none;
}

.dropdown::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid #DADCE0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  pointer-events: none;
}

/* ------------------- Quiz Screen CSS ---------------------------  */
.maindiv
{
  width:100%; 
  height:140px; 
  border:3px solid; 
  color: rgb(114, 9, 183); 
  border-radius: 1em; 
  background-color: rgb(114, 9, 183); 
  margin-top: 6em; 
  display: inline; 
  margin-left: 0.7em;
}

.background
{
  background-color: rgb(114, 9, 183) ;
}

.quizstatus
{
  width:300px; 
  height:240px; 
  border:3px solid; 
  color: white; 
  border-radius: 1em; 
  background-color: white; 
  margin-left: 10em; 
  float: right; 
  margin-top: 10.8em;
}

.options
{
  width:400px; 
  height:2.5em; 
  border:3px solid; 
  color: white; 
  background-color: white; 
  margin-top: 2em; 
  border-radius: 1em;
}

.buttons-prev
{
  background-color: gold; 
  border-color: gold; 
  height: 2.1em; width: 5.9em; 
  margin-top: 3.3em; 
  color: black; 
  display: inline;
}

.buttons-next
{
  background-color: gold; 
  border-color: gold; 
  height: 2.1em; 
  width: 5.9em;
  margin-top: 3.3em ; 
  margin-left : 5em; 
  display: inline; 
  color: black;
}

.optionlabel
{
  color: black;
}

.question
{
  color: white; 
  font-weight: bold; 
  font-size: xx-large; 
  margin-top: 35px;
}